SISOTIC/App_WebReferences/comunicacionotic/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcesarCurso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PathXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Acceso" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RutEjecutivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarCursoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcesarCursoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcesarCursoSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarCurso" />
  </wsdl:message>
  <wsdl:message name="ProcesarCursoSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarCursoResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarCursoHttpGetIn">
    <wsdl:part name="PathXML" type="s:string" />
    <wsdl:part name="Acceso" type="s:string" />
    <wsdl:part name="RutEjecutivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesarCursoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProcesarCursoHttpPostIn">
    <wsdl:part name="PathXML" type="s:string" />
    <wsdl:part name="Acceso" type="s:string" />
    <wsdl:part name="RutEjecutivo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProcesarCursoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ProcesarCurso">
      <wsdl:input message="tns:ProcesarCursoSoapIn" />
      <wsdl:output message="tns:ProcesarCursoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="ProcesarCurso">
      <wsdl:input message="tns:ProcesarCursoHttpGetIn" />
      <wsdl:output message="tns:ProcesarCursoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="ProcesarCurso">
      <wsdl:input message="tns:ProcesarCursoHttpPostIn" />
      <wsdl:output message="tns:ProcesarCursoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarCurso">
      <soap:operation soapAction="http://tempuri.org/ProcesarCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcesarCurso">
      <soap12:operation soapAction="http://tempuri.org/ProcesarCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ProcesarCurso">
      <http:operation location="/ProcesarCurso" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ProcesarCurso">
      <http:operation location="/ProcesarCurso" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.4.2/serviciootic/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.4.2/serviciootic/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://192.168.4.2/serviciootic/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://192.168.4.2/serviciootic/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>